@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: black;
}

body {
    font-family: 'Noto Sans KR', sans-serif;
    letter-spacing: -1px;
}

.clearFix::after {
    content: "";
    display: block;
    clear: both;
}

/* #header CSS */
#header .inner_wrap {
    width: 100%;
    height: 120px;
    overflow: hidden;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #fff;
    border-bottom: 1px solid #dfdfdf;
    z-index: 10;
    transition: all 0.4s;
}

#header .inner_wrap:hover {
    height: 480px;
}

/* #header .inner_wrap .inner CSS */
#header .inner_wrap .inner {
    width: 1800px;
    margin: 0px auto;
    height: 120px;
    position: relative;
}

/* #header .inner_wrap .inner .logo CSS */
#header .inner_wrap .inner .logo {
    text-indent: -99999px;
    width: 171px;
    height: 37px;
    background: url("../images/header/logo.png") no-repeat center / 100%;
    position: absolute;
    left: 0;
    top: 35px;
    cursor: pointer;
}

/* #header .inner_wrap .inner .gnb CSS */
#header .inner_wrap .inner .gnb {
    width: 820px;
    height: 120px;
    position: absolute;
    left: 50%;
    transform: translateX(-410px);
    top: 0;
}

#header .inner_wrap .inner .gnb>li {
    width: 145px;
    margin: 0px 5px;
    float: left;
    text-align: center;
    line-height: 120px;
}

#header .inner_wrap .inner .gnb>li:nth-child(4) {
    width: 190px;
}

#header .inner_wrap .inner .gnb>li>a {
    font-size: 19px;
    font-weight: 500;
    color: #222;
    position: relative;
}

#header .inner_wrap .inner .gnb>li>a:after {
    content: "";
    display: block;
    position: absolute;
    width: 0%;
    left: 50%;
    top: 55px;
    transition: all 0.3s;
}

#header .inner_wrap .inner .gnb>li:hover>a:after {
    width: 100%;
    left: 0%;
    height: 3px;
    background-color: #D11F26;
}

#header .inner_wrap .inner .gnb>li:hover>a {
    color: #D11F26;
    font-weight: 600;
}

/* #header .inner_wrap .inner .gnb>li .sub CSS */
#header .inner_wrap .inner .gnb>li .sub>li>a {
    display: block;
    line-height: 50px;
    font-size: 17px;
    color: #222;
}

#header .inner_wrap .inner .gnb>li .sub>li:hover>a {
    color: #D11F26;
    font-weight: 500;
}

/* #header .inner_wrap .inner .etc CSS */
#header .inner_wrap .inner .etc {
    position: absolute;
    right: 0;
    top: 45px;
}

#header .inner_wrap .inner .etc>li {
    float: left;
}

#header .inner_wrap .inner .etc>li:nth-child(2n+1) {
    text-indent: -99999px;
}

#header .inner_wrap .inner .etc>li:nth-child(2) {
    margin: 0px 20px;
    width: 106px;
    height: 36px;
    border-radius: 20px;
    border: 2px solid #222;
    line-height: 36px;
    text-align: center;
}

#header .inner_wrap .inner .etc>li:nth-child(2):hover {
    border: 2px solid #D11F26;
}

/* #header .inner_wrap .inner .etc>li>a CSS */
#header .inner_wrap .inner .etc>li>a {
    display: block;
    color: #222;
    font-weight: 600;
}

#header .inner_wrap .inner .etc>li:nth-child(1)>a {
    width: 36px;
    height: 36px;
    background: url("../images/header/btn_search_bk.png") no-repeat center / 31px 31px;
}

#header .inner_wrap .inner .etc>li:nth-child(1):hover>a {
    background: url("../images/header/btn_search_hover.png") no-repeat center / 31px 31px;
}

#header .inner_wrap .inner .etc>li:nth-child(2):hover>a {
    color: #D11F26;
    font-weight: 700;
}

#header .inner_wrap .inner .etc>li:nth-child(3)>a {
    width: 36px;
    height: 36px;
    background: url("../images/header/btn_menu_bk.png") no-repeat center / 31px 26px;
}

#header .inner_wrap .inner .etc>li:nth-child(3):hover>a {
    background: url("../images/header/btn_menu_hover.png") no-repeat center / 31px 26px;
}

/* ㅡㅡㅡㅡㅡㅡsectionㅡㅡㅡㅡㅡㅡ */
#section {
    width: 100%;
}

#section .service {
    width: 100%;
    height: 100px;
    text-align: center;
    margin-top: 325px;
    margin-bottom: 100px;
}

#section .service h1 {
    font-size: 52px;
    margin-bottom: 30px;
}




#section .service p {
    font-size: 20px;
    color: #666;
}

#section .eastar>img {
    /* width: 1280px; */
    width: 1000px;
    padding-top: 127px;
    padding-bottom: 190px;
}

#section .eastar {
    margin: 0 auto;
    width: 1000px;
    /* border: 1px solid gray;  */
    /* width: 1280px;
    height: 180px;
    margin: 0 auto;
    background-image: url(../images/sub/sub03/eastarjet.png);
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 150px; */
}

#section .cate {
    width: 1050px;
    height: 300px;
    margin: 0 auto;
    /* border: 1px solid black; */
}

#section .cate>li {
    width: 160px;
    height: 160px;
    border-radius: 50%;
    background-color: white;
    box-shadow: 0px 1px 3px rgba(174, 171, 171, 0.596);
    position: relative;
    cursor: pointer;
    float: left;
    margin: 0 25px;
}

#section .cate>.on {
    background-color: #d11f26;
    color: #d11f26;
    font-weight: bold;
    transition: all 0.2s;
}

#section .cate>.on .pic1 {
    width: 170px;
    height: 94px;
    background-image: url(../images/sub/sub03/pic1_white.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin-top: 29px;
    margin-left: -4px;

}

#section .cate>li .pic1 {
    width: 110px;
    height: 67px;
    background-image: url(../images/sub/sub03/pic1_black.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin-top: 49px;
    margin-left: 25px;
    transform: scale(0.9);
}

#section .cate>.on .pic2 {
    width: 108px;
    height: 91px;
    background-image: url(../images/sub/sub03/pic_white.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin-top: 35px;
    margin-left: 24px;
}

#section .cate>li .pic2 {
    width: 70px;
    height: 70px;
    background-image: url(../images/sub/sub03/pic2_black.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin-top: 45px;
    margin-left: 44px;
}

#section .cate>li .pic3 {
    width: 75px;
    height: 75px;
    background-image: url(../images/sub/sub03/pic3_black.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin-top: 44px;
    margin-left: 42px;
}

#section .cate>.on .pic3 {
    width: 102px;
    height: 91px;
    background-image: url(../images/sub/sub03/pic3_white.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin-top: 34px;
    margin-left: 29px;
}

#section .cate>li .pic4 {
    width: 50px;
    height: 70px;
    background-image: url(../images/sub/sub03/pic4_black.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin-top: 46px;
    margin-left: 58px;
}

#section .cate>.on .pic4 {
    width: 78px;
    height: 91px;
    background-image: url(../images/sub/sub03/pic4_white.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin-top: 36px;
    margin-left: 40px;
}

#section .cate>li .pic5 {
    width: 60px;
    height: 70px;
    background-image: url(../images/sub/sub03/pic5_black.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding-top: 10px;
    box-sizing: border-box;
    margin-top: 46px;
    margin-left: 53px;
}

#section .cate>.on .pic5 {
    width: 88px;
    height: 91px;
    background-image: url(../images/sub/sub03/pic5_white.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin-top: 40px;
    margin-left: 40px;

}

#section .cate>li p {
    width: 160px;
    font-size: 18px;
    position: absolute;
    bottom: -50px;
    left: 0px;
    text-align: center;

    /* background-color: #5fbdbd; */

}

/* #section .contain{
    width:1280px;
    margin: 0 auto;
    margin-bottom: 375px;
} */
#section .contain .search {
    width: 725px;
    height: 60px;
    margin: 60px auto;
}

#section .contain .search .box1 {
    width: 614px;
    height: 60px;
    font-size: 18px;
    padding-left: 20px;
    box-sizing: border-box;
    color: #666;
}

#section .contain .search .box2 {
    width: 81px;
    height: 60px;
    font-size: 18px;
    background-color: #d11f26;
    border: none;
    color: white;
    transform: translateY(1.5px);
    border-radius: 3px;
    cursor: pointer;
    /* margin-top: 2px; */
}

#section .contain .search .box2:hover {
    background-color: #b3000b;
    border: 1px solid #b3000b;
}

#section .contain h2 {
    text-align: center;
    font-size: 24px;
    margin-bottom: 50px;
}

#section .contain h2 span {
    color: #d11f26;
}

#section .home>li .contain .airport {
    width: 1280px;
    margin: 0 auto;
    /* margin-bottom: 205px; */
    position: relative;
}

#section .home>li .contain .airport>li {
    width: 424px;
    height: 63px;
    line-height: 63px;
    font-size: 16px;
    text-align: center;
    background-color: #a0a1a1;
    float: left;
    margin-right: 2px;
    cursor: pointer;
}

#section .home>li .contain .airport>li>a {
    color: white;
}

#section .home>li .contain .airport>li.on {
    display: block;
    background-color: white;
    color: #222;
    border-top: 1px solid #6d6e71;
    border-left: 1px solid #6d6e71;
    box-sizing: border-box;
}

#section .home>li:nth-child(2) .contain .airport>li.on {
    display: block;
    background-color: white;
    color: #222;
    border-top: 1px solid #6d6e71;
    border-left: 1px solid #6d6e71;
    box-sizing: border-box;
}

#section .home>li:nth-child(3) .contain .airport>li.on {
    display: block;
    background-color: white;
    color: #222;
    border-top: 1px solid #6d6e71;
    border-left: 1px solid #6d6e71;
    box-sizing: border-box;
}

#section .home>li:nth-child(4) .contain .airport>li.on {
    display: block;
    background-color: white;
    color: #222;
    border-top: 1px solid #6d6e71;
    border-left: 1px solid #6d6e71;
    box-sizing: border-box;
}

#section .home>li:nth-child(5) .contain .airport>li.on {
    display: block;
    background-color: white;
    color: #222;
    border-top: 1px solid #6d6e71;
    border-left: 1px solid #6d6e71;
    box-sizing: border-box;
}

#section .home>li .contain .airport>li.on a {
    color: #222;
}

#section .home>li .contain .airport>li:nth-child(2).on {
    display: block;
    background-color: white;
    color: #222;
    border-left: none;
    box-sizing: border-box;
}

#section .home>li .contain .airport>li:nth-child(3).on {
    display: block;
    background-color: white;
    color: #222;
    border-left: none;
    border-right: 1px solid #6d6e71;
    box-sizing: border-box;
}

/*   */
#section .home>li .contain .airport>li a {
    position: relative;
}

#section .home>li .contain .airport>li.on a::before {
    content: "";
    display: block;
    width: 19px;
    height: 15px;
    background-image: url(../images/sub/sub03/check.png);
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    top: 5px;
    left: -30px;
}







/* 텝 컨텐츠 부분---------------------------------- */
#section .contain {
    position: relative;
    /* background-color: #eca7ac; */
    margin-bottom: 205px;
}



#section .contain .air_detail>li {
    width: 1280px;
    margin: 0 auto;
    color: #222;
    text-align: left;
    display: none;
    position: relative;
    top: 0;
    left: 0;
}

/* #section .contain .air_detail>li:nth-child(1){display: block;} */

#section .contain .air_detail>li.cc {
    display: block;
}

#section .contain .air_detail>li ul>li {
    width: 1280px;
    display: flex;
    text-align: left;
}


#section .contain .air_detail>li ul>li p {
    font-size: 16px;
}

#section .contain .air_detail>li ul>li h3 {
    width: 265px;
    font-size: 23px;
    font-weight: normal;
    padding-left: 30px;
    box-sizing: border-box;
    /* border:1px solid red; */
    /* background-color: #cdd1d3; */
}

#section .contain .air_detail>li ul>li h3.space {
    letter-spacing: -2px;
}

#section .contain .air_detail>li ul>li .r_box {
    cursor: pointer;
    display: inline-block;
    width: 150px;
    height: 50px;
    color: white;
    background-color: #b3000b;
    border: 5px;
    line-height: 50px;
    font-size: 16px;
    padding: 0 15px;
    text-align: center;
    margin-left: 18%;
    margin-top: 30px;
}

#section .contain .air_detail>li ul>li .star {
    margin-left: 24%;
}

/* #section .contain .air_detail>li ul.bottom_line {
    margin-top: -10px;
    display: none;
    position: absolute;
    top:-10px; left:0;
} */

#section .contain .air_detail .bottom_line>li {
    display: flex;
    line-height: 115px;
    border-bottom: 1px solid #cdd1d3;
}


#section .contain .air_detail>li .bottom_line .loca .map {
    height: 70px;
    font-size: 15px;
    color: #75563b;
    border-bottom: 1px solid #75563b;
    margin-left: 10px;
}

#section .contain .air_detail>li .bottom_line .loca .box {
    width: 17px;
    height: 16px;
    background-image: url(../images/sub/sub01/lil_box.png);
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    top: 165px;
    left: 530px;
}


/* --------------------------------------------------------------bottom_line2-----sub0202--------------- */
/* #section .contain .air_detail>li ul.bottom_line2 {
    padding-top: 30px;
} */

#section .contain .air_detail .bottom_line2>li {
    /* padding-top: 30px; */
    /* padding-bottom: 30px; */
    box-sizing: border-box;
    border-bottom: 1px solid #cdd1d3;
    padding: 30px 0;

}

#section .contain .air_detail>li .sub0202>li {
    padding-top: 30px;
    padding-bottom: 30px;
    box-sizing: border-box;
    border-bottom: 1px solid #cdd1d3;
    float: left;
}

#section .contain .air_detail>li .sub0202>li>div {
    width: 600px;
    margin: 0 auto;
}

#section .contain .air_detail>li .sub0202>li>div>img {
    float: left;
    padding-top: 15px;
}

#section .contain .air_detail>li .bottom_line2>li:nth-child(1)>.con02>img {
    padding-top: 25px;
    margin-bottom: -25px;
}

#section .contain .air_detail>li .sub0202>li:nth-child(2)>.con02>img {
    padding-top: 25px;
}

#section .contain .air_detail>li .sub0202>li>div .cc_text {
    width: 400px;
    margin-left: 70px;
    float: left;
}

#section .contain .air_detail>li .sub0202>li>div .cc_text>p {
    line-height: 23px;
}

#section .contain .air_detail>li .sub0202>li>div .cc_text>h3 {
    padding-left: 0px;
    margin-bottom: 10px;
}

#section .contain .air_detail .sub0202-2 .sub0202 li:nth-child(2) .con01>img {
    margin-top: 12px;

}

#section .contain .air_detail .sub0202-2 .sub0202 li:nth-child(3) .con02>img {
    margin-top: 12px;
}

/* --------------------------------------------------------------bottom_line3-------------------- */

/* #section .contain .air_detail>li ul.bottom_line3 {
    display: none;
} */

#section .contain .air_detail>li .bottom_line3>li {
    padding-top: 30px;
    padding-bottom: 30px;
    box-sizing: border-box;
    border-bottom: 1px solid #cdd1d3;
}

#section .contain .air_detail>li .bottom_line3>li .text1 {
    width: 900px;
    margin-left: 50px;
}

#section .home>li.sos {
    display: block;
}

#section .home>li {
    display: none;
}

#section .home>li:nth-child(2) .contain .airport>li {
    background-color: #59457e;
}

#section .home>li:nth-child(3) .contain .airport>li {
    background-color: #3f5099;
}

#section .home>li:nth-child(4) .contain .airport>li {
    background-color: #5fbdbd;
}

#section .home>li:nth-child(5) .contain .airport>li {
    background-color: #d11f26;
}

/* #section .home>li .contain .airport>li.on{
    display: block;
    background-color: white;
    color:#222;
    border-top:1px solid #6d6e71;
    border-left:1px solid #6d6e71;
}
#section .home>li .containa .airport>li:nth-child(2).on{
    display: block;
    background-color: white;
    color:#222;
    border-left:none;
}
#section .home>li .contain .airport>li:nth-child(3).on{
    display: block;
    background-color: white;
    color:#222;
    border-right:1px solid #6d6e71;
    border-left:none;
} */

/* -------------------------------------------------------------t4---------------- */

#section .contain .air_detail>li ul.t4_sub>.con01 {
    padding: 30px 0;
}

#section .contain .air_detail>li ul.t4_sub>li h3 {
    line-height: 30px;
}

#section .contain .air_detail>li ul.t4_sub>li>p {
    width: 9%;
    height: 95px;
    margin: 0 100px;
}

#section .contain .air_detail>li ul.t4_sub>li>p>span {
    display: inline-block;
    width: 85px;
    height: 95px;
    background-repeat: no-repeat;
    padding: 0;
    line-height: 0;

    background-color: transparent;
}

#section .contain .air_detail>li ul.t4_sub>li:nth-child(1)>p>span {
    background-image: url("../images/sub/sub03/icon_p.png");
    margin-top: 8px;
}

#section .contain .air_detail>li ul.t4_sub>li:nth-child(2)>p>span {
    background-image: url("../images/sub/sub03/icon_p.png");
    background-position: -85px 0;
    margin-top: 45px;
}

#section .contain .air_detail>li ul.t4_sub>li:nth-child(3)>p>span {
    background-image: url("../images/sub/sub03/icon_p.png");
    background-position: -170px 0;
    margin-top: 20px;

}

#section .contain .air_detail>li ul.t4_sub>li:nth-child(4)>p>span {
    background-image: url("../images/sub/sub03/icon_p.png");
    background-position: -255px 0;
    margin-top: 8px;

}

#section .contain .air_detail>li ul.t4_sub>li:nth-child(5)>p>span {
    background-image: url("../images/sub/sub03/icon_p.png");
    background-position: -340px 0;
    margin-top: 25px;
}

#section .contain .air_detail>li ul.t4_sub>li.boan>p>span {
    margin-top: 25px;
}

#section .contain .air_detail>li ul.t4_sub>li .cc_text04 {
    padding: 20px 0;
    margin-top: -10px;
}

#section .contain .air_detail>li ul.t4_sub>li .cc_text04>h3 {
    padding: 0;
    margin-bottom: 10px;
}

#section .contain .air_detail>li ul.t4_sub>li .cc_text04>p {
    line-height: 23px;
}



/* ㅡㅡㅡㅡㅡfooterㅡㅡㅡㅡㅡㅡ */
/* #footer CSS */
#footer {
    width: 100%;
    height: 450px;
    background-color: #3c3c3c;
    /* display: none; */
}

#footer .footer_wrap {
    width: 1280px;
    margin: 0px auto;
}

/* #footer .footer_wrap .info CSS */
#footer .footer_wrap .info {
    padding-top: 90px;
    padding-bottom: 35px;
    display: flex;
    justify-content: center;
    border-bottom: 1px solid #dfdfdf30;
}

#footer .footer_wrap .info>li {
    text-align: center;
}

#footer .footer_wrap .info>li>a {
    color: #efefef;
    font-size: 16px;
    font-weight: 200;
}

#footer .footer_wrap .info>li:after {
    content: "";
    display: inline-block;
    width: 1px;
    height: 13px;
    margin: 0px 20px;
    background-color: #dfdfdf30;
}

#footer .footer_wrap .info>li:last-child:after {
    display: none;
}

/* #footer .footer_wrap .footerlogo CSS */
#footer .footer_wrap .other {
    padding: 0px 65px;
    padding-top: 35px;
    padding-bottom: 47px;
    box-sizing: border-box;
}

#footer .footer_wrap .other>li {
    color: #efefef;
    float: left;
    width: 240px;
    margin-right: 115px;
    letter-spacing: 0px;
}

#footer .footer_wrap .other>li>p {
    position: relative;
    top: -25px;
    left: 100px;
}

#footer .footer_wrap .other>li>p>span {
    display: block;
    font-size: 14px;
    font-weight: 300;
}

/* #footer .footer_wrap .other>li:nth-child(1) CSS */
#footer .footer_wrap .other>li:nth-child(1) {
    width: 150px;
    margin-right: 50px;
}

#footer .footer_wrap .other>li .footerlogo {
    text-indent: -99999px;
    width: 149px;
    height: 55px;
    margin-top: -6px;
    background: url("../images/footer/logo_white.png") no-repeat center / 100%;
}

/* #footer .footer_wrap .other>li:nth-child(2) CSS */
#footer .footer_wrap .other>li:nth-child(2)>p>span:first-child {
    font-size: 18px;
    font-weight: 500;
}

/* #footer .footer_wrap .other>li:last-child CSS */
#footer .footer_wrap .other>li:last-child {
    margin-right: 0px;
}

#footer .footer_wrap .other>li:last-child>p {
    left: 150px;
}

#footer .footer_wrap .other>li:last-child>p>span {
    display: inline-block;
    text-indent: -99999px;
    width: 30px;
    height: 30px;
    cursor: pointer;
}

#footer .footer_wrap .other>li:last-child>p>span:first-child {
    background: url("../images/footer/icon_youtube.png") no-repeat center / 26px 18px;
}

#footer .footer_wrap .other>li:last-child>p>span:nth-child(2) {
    background: url("../images/footer/icon_facebook.png") no-repeat center / 25px 25px;
}

#footer .footer_wrap .other>li:last-child>p>span:last-child {
    background: url("../images/footer/icon_twitter.png") no-repeat center / 22px 19px;
}

/* #footer .footer_wrap .company CSS */
#footer .footer_wrap .company {
    width: 752px;
    margin: 0px auto;
}

#footer .footer_wrap .company>li {
    float: left;
    color: #dfdfdf;
    font-weight: 300;
    line-height: 28px;
    letter-spacing: 0px;
}

#footer .footer_wrap .company>li:before {
    content: "";
    display: inline-block;
    width: 1px;
    height: 13px;
    margin: 0px 5px;
    background-color: #dfdfdf30;
}

#footer .footer_wrap .company>li:nth-child(-n+2):before,
#footer .footer_wrap .company>li:nth-child(5):before,
#footer .footer_wrap .company>li:nth-child(8):before {
    display: none;
}