@charset "UTF-8";
*{margin: 0; padding: 0;}
ul{list-style: none;}
body{
    font-family: 'Noto Sans KR', sans-serif;
    letter-spacing:-1px;
}
a{
    text-decoration: none;
    color: black;
}
.clearFix::after{
    content: ""; display: block; clear: both;
}

#header .inner_wrap{
    width:100%;
    height:120px;
    overflow:hidden;
    position:fixed;
    top:0;
    left:0;
    background-color:#fff;
    border-bottom:1px solid #dfdfdf;
    z-index:10;
    transition:all 0.4s;
}
#header .inner_wrap:hover{
    height:480px;
}
/* #header .inner_wrap .inner CSS */
#header .inner_wrap .inner{
    width:1800px; margin:0px auto;
    height:120px;
    position:relative;
}
/* #header .inner_wrap .inner .logo CSS */
#header .inner_wrap .inner .logo{
    text-indent:-99999px;
    width:171px;
    height:37px;
    background:url("../images/header/logo.png") no-repeat center / 100%;
    position:absolute;
    left:0;
    top:35px;
    cursor:pointer;
}
/* #header .inner_wrap .inner .gnb CSS */
#header .inner_wrap .inner .gnb{
    width:820px;
    height:120px;
    position:absolute;
    left:50%;
    transform:translateX(-410px);
    top:0;
}
#header .inner_wrap .inner .gnb>li{
    width:145px;
    margin:0px 5px;
    float:left;
    text-align:center;
    line-height:120px;
}
#header .inner_wrap .inner .gnb>li:nth-child(4){
    width:190px;
}
#header .inner_wrap .inner .gnb>li>a{
    font-size:19px;
    font-weight:500;
    color:#222;
    position:relative;
}
#header .inner_wrap .inner .gnb>li>a:after{
    content:"";
    display:block;
    position:absolute;
    width:0%;
    left:50%;
    top:55px;
    transition:all 0.3s;
}
#header .inner_wrap .inner .gnb>li:hover>a:after{
    width:100%;
    left:0%;
    height:3px;
    background-color:#D11F26;
}
#header .inner_wrap .inner .gnb>li:hover>a{
    color:#D11F26;
    font-weight:600;
}
/* #header .inner_wrap .inner .gnb>li .sub CSS */
#header .inner_wrap .inner .gnb>li .sub>li>a{
    display:block;
    line-height:50px;
    font-size:17px;
    color:#222;
}
#header .inner_wrap .inner .gnb>li .sub>li:hover>a{
    color:#D11F26;
    font-weight:500;
}
/* #header .inner_wrap .inner .etc CSS */
#header .inner_wrap .inner .etc{
    position:absolute;
    right:0;
    top:45px;
}
#header .inner_wrap .inner .etc>li{
    float:left;
}
#header .inner_wrap .inner .etc>li:nth-child(2n+1){
    text-indent:-99999px;
}
#header .inner_wrap .inner .etc>li:nth-child(2){
    margin:0px 20px;
    width:106px;
    height:36px;
    border-radius:20px;
    border:2px solid #222;
    line-height:36px;
    text-align:center;
}
#header .inner_wrap .inner .etc>li:nth-child(2):hover{
    border:2px solid #D11F26;
}
/* #header .inner_wrap .inner .etc>li>a CSS */
#header .inner_wrap .inner .etc>li>a{
    display:block;
    color:#222;
    font-weight:600;
}
#header .inner_wrap .inner .etc>li:nth-child(1)>a{
    width:36px;
    height:36px;
    background:url("../images/header/btn_search_bk.png") no-repeat center / 31px 31px;
}
#header .inner_wrap .inner .etc>li:nth-child(1):hover>a{
    background:url("../images/header/btn_search_hover.png") no-repeat center / 31px 31px;
}
#header .inner_wrap .inner .etc>li:nth-child(2):hover>a{
    color:#D11F26;
    font-weight:700;
}
#header .inner_wrap .inner .etc>li:nth-child(3)>a{
    width:36px;
    height:36px;
    background:url("../images/header/btn_menu_bk.png") no-repeat center / 31px 26px;
}
#header .inner_wrap .inner .etc>li:nth-child(3):hover>a{
    background:url("../images/header/btn_menu_hover.png") no-repeat center / 31px 26px;
}
/* ㅡㅡㅡㅡㅡㅡㅡsectionㅡㅡㅡㅡㅡㅡㅡㅡㅡ */
#section{
    position: relative;
}
#section #tab{
    width:250px;
    height:48px;
    position: absolute;
    top:-175px; left:303px;
    font-size: 16px;
    border:1px solid #dfdfdf;
    padding-left: 10px;
    box-sizing: border-box;
    outline: none;
}
#section h1{
    width:1280px;
    height:40px;
    margin: 0 auto;
    font-size: 52px;
    text-align: center;
    margin-top: 325px;
    margin-bottom: 70px;
    /* border:1px solid red; */
}


#section .btn{
    width:1280px;
    height:46px;
    display: flex;
    /* margin-left: 270px; */
    font-size: 18px;
    font-weight: bold;
    margin: 30px auto;
    cursor: pointer;
    /* transform: translateX(-0px); */
    /* border:1px solid red; */
}
#section .btn .btn1{
    width:132px;
    height:46px;
    float:left;
    text-align: center;
    background-color: white;
    color:#222;
    text-align: center;
    line-height: 46px;
    border-radius: 5px 0px 0px 5px;
    box-sizing: border-box;
    border:1px solid #dfdfdf;
    border-right:none;
}
#section .btn>li.on{
    background-color: #d60815;
    color:white;
}
#section .btn .btn2{
    width:132px;
    height:46px;
    float:left;
    text-align: center;
    background-color: white;
    color:#222;
    text-align: center;
    line-height: 46px;
    border-radius: 0px 5px 5px 0px;
    box-sizing: border-box;
    border:1px solid #dfdfdf;
    border-left:none;
}
#section .cheapest{
    width:1280px;
    height:116px;
    margin: 0 auto;
    background-color: #f7f7f7;
    display: flex;
    position: relative;
    color:#222;
}
#section .cheapest input:nth-child(1){
    width:218px;
    height:44px;
    border:1px solid #cdd1d3;
    margin-top: 35px;
    margin-left: 180px;
    margin-right: 35px;
    padding-left: 20px;
    box-sizing: border-box;
    font-size: 16px;
    font-weight: lighter;
}
#section .cheapest #box2{
    width:218px;
    height:44px;
    border:1px solid #cdd1d3;
    margin-top: 35px;
    padding-left: 20px;
    font-size: 16px;
    font-weight: lighter;
    box-sizing: border-box;
    /* margin-left: 40px; */
}
#section .cheapest .arrow1{
    width:15px;
    height:17px;
    background-image: url(../images/sub/sub01/arrows_03.png);
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    top:48px; left:410px;
}
#section .cheapest #date{
    width:158px;
    height:44px;
    margin-left: 10px;
    border:1px solid #cdd1d3;
    box-sizing: border-box;
    padding-left: 10px;
    color:#222;
}

#section .cheapest .aaa01>option{
    /* display: none; */
}
#section .cheapest .aaa01{
    background-color: #E8E8e8;
}
#section .cheapest #seat{
    width:158px;
    height:44px;
    margin-left: 10px;
    border:1px solid #cdd1d3;
    box-sizing: border-box;
    padding-left: 10px;
    color:#222;
}
#section .cheapest .search{
    width:127px;
    height:46px;
    background-color: #d60815;
    text-align: center;
    line-height: 46px;
    color: white;
    margin-top: 35px;
    margin-left: 10px;
    border-radius: 3px;
    cursor: pointer;
}
#section .cheapest .clickbox{
    width:600px;
    height:225px;
    position: absolute;
    top:79px; left:180px;
    z-index: 999;
    border: 1px solid #cdd1d3;
    box-sizing: border-box;
    background-color: white;
    display: none;
}
#section .cheapest .clickbox .menu_top h3{
    font-size: 18px;
    padding-left: 30px;
    padding-top: 20px;
    box-sizing: border-box;
    float:left;
}
#section .cheapest .clickbox .close{
    width:19px;
    height:19px;
    background-image: url(../images/sub/sub01/btn_close_gray2.png);
    background-repeat: no-repeat;
    background-size: cover;
    float:right;
    margin-top: 20px;
    margin-right: 30px;
}
#section .cheapest .clickbox .noresult{
    width:550px;
    height:80px;
    background-color: #f7f7f7;
    text-align: center;
    line-height: 80px;
    margin-left: 30px;
    margin-top: 20px;
    font-size: 18px;
    color: #555;
}
#section .cheapest .clickbox .total{
    width:119px;
    height:34px;
    border: 1px solid #cdd1d3;
    box-sizing: border-box;
    margin-top: 20px;
    margin-left: 30px;
    padding-left: 15px;
    /* text-align: center; */
    line-height: 34px;
    font-size: 13px;
    position: relative;
}

#section .cheapest .clickbox .total .bb{
    width:17px;
    height:16px;
    background-image: url(../images/sub/sub01/lil_box.png);
    background-repeat: no-repeat;
    background-size: cover;
    float:left;
    position: absolute;
    top:8px; right:7px;
}
#section .today{
    width:1280px;
    margin: 10px auto;
    font-size: 15px;
    color: #6b2900;
}
#section .travel{
    width:1280px;
    margin: 50px auto;
    display: flex;
    position: relative;
}
#section .travel h2{
    font-size: 28px;
}
#section .travel>p{
    font-size: 15px;
    color: #555;
    margin-top: 12px;
    margin-left: 10px;
}
#section .travel .krw{
    font-size: 15px;
    position: absolute;
    top:10px; right:10px;
    color: #555;
}
#section .korea{
    width:1280px;
    height:450px;
    font-size: 17px;
    margin: 0 auto;
    transform: translateY(-30px);
}
#section .korea ul:hover{
    background-color: #ddd;
}
#section .korea .bar1{
    width:1280px;
    height:66px;
    background-color:#3c3c3c;

    /* background-color: #4e4e4e; */
    color: white;
    font-size: 23px;
    padding-left: 20px;
    box-sizing: border-box;
    line-height: 66px;
    font-weight: 350;
}
#section .korea .cont1 .pic1{
    width:308px;
    height:285px;
    background-image: url(../images/sub/sub01/pic1.png);
    background-repeat: no-repeat;
    background-size: cover;
    float:left;
    margin-top: 20px;
}
#section .korea .lanes{
    width:957px;
    height:220px;
    float:left;
    margin-left: 13px;
    cursor: pointer;
}
#section .korea ul{
    width:957px;
    height:60px;
    border-bottom: 1px solid #dddddd;
    float:left;
    display: flex;
    line-height: 60px;
    justify-content: space-between;
    /* border:1px solid red; */
} 
#section .korea ul>li:nth-child(1){
    width:260px;
    padding-right: 10px;
}
#section .korea ul>li:nth-child(3){
    width:300px;
    margin-left: 150px;
}
#section .korea ul>li:nth-child(4){
    width:140px;
}
#section .korea ul>li:nth-child(5){
    width:120px;
    text-align: right;
    padding-right: 20px;
    box-sizing: border-box;
}
#section .korea ul>li>span{
    width:50px;
    height:60px;
    font-size: 14px;
    /* font-weight: lighter; */
    color: #747474;
    margin-left: 20px;
    /* border:1px solid red; */
    display: inline-block;
    line-height: 60px;
    position: relative;
    transform: translateY(-1px);
}
#section .korea ul>li span::before{
    content:""; display: block; clear:both;
    width:1px;
    height:15px;
    background-color: #ddd;
    position: absolute;
    top:24px; left:-11px;

}
#section .korea .lanes>ul{
    position: relative;
}
#section .korea .lanes>ul>li:nth-child(2){
    width:16px;
    height:6.4px;
    background-image: url(../images/sub/sub01/half_arrow_03.png);
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    top:28px; left:360px;
}
#section .korea .lanes>ul>li:nth-child(5){
    color:#d60815;
    font-weight: bold;
}
#section .korea ul>li:nth-child(1){
    padding-left: 20px;
    box-sizing: border-box;
}
/* ㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡ2번쨰ㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡ */

#section .korea .cont3{
    display: flex;
}
#section .korea .cont2 .pic2{
    width:308px;
    height:285px;
    background-image: url(../images/sub/sub01/pic2.png);
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 20px;
}
/* ㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡ3번쨰ㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡ */
#section .korea .cont2{
    display: flex;
}
#section .korea .cont3 .pic3{
    width:308px;
    height:285px;
    background-image: url(../images/sub/sub01/pic3.png);
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 20px;
}
/* ㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡ4번쨰ㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡ */
#section .korea .cont4{
    display: flex;
}
#section .korea .cont4 .pic4{
    width:308px;
    height:285px;
    background-image: url(../images/sub/sub01/pic4.png);
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 20px;
}
/* ㅡㅡㅡㅡㅡㅡㅡㅡ바텀박스ㅡㅡㅡㅡㅡㅡㅡㅡㅡ */
#section .desc{
    width:1280px;
    height:176px;
    background-color: #f7f7f7;
    margin: 0px auto;
    padding-left: 50px;
    padding-top: 40px;
    box-sizing: border-box;
    margin-bottom: 205px;
}
#section .desc h4{
    font-size: 23px;
    
    margin-bottom: 10px;
}
#section .desc p{
    font-size: 15px;
    margin-bottom: 10px;
}
/* #footer CSS */
#footer{
    width:100%;
    height:450px;
    background-color:#3c3c3c;
}
#footer .footer_wrap{
    width:1280px;
    margin:0px auto;
}
/* #footer .footer_wrap .info CSS */
#footer .footer_wrap .info{
    padding-top:90px;
    padding-bottom:35px;
    display:flex;
    justify-content:center;
    border-bottom:1px solid #dfdfdf30;
}
#footer .footer_wrap .info>li{
    text-align:center;
}
#footer .footer_wrap .info>li>a{
    color:#efefef;
    font-size:16px;
    font-weight:200;
}
#footer .footer_wrap .info>li:after{
    content:"";
    display:inline-block;
    width:1px;
    height:13px;
    margin:0px 20px;
    background-color:#dfdfdf30;
}
#footer .footer_wrap .info>li:last-child:after{
    display:none;
}
/* #footer .footer_wrap .footerlogo CSS */
#footer .footer_wrap .other{
    padding:0px 65px;
    padding-top:35px;
    padding-bottom:47px;
    box-sizing:border-box;
}
#footer .footer_wrap .other>li{
    color:#efefef;
    float:left;
    width:240px;
    margin-right:115px;
    letter-spacing:0px;
}
#footer .footer_wrap .other>li>p{
    position:relative;
    top:-25px;
    left:100px;
}
#footer .footer_wrap .other>li>p>span{
    display:block;
    font-size:14px;
    font-weight:300;
}

/* #footer .footer_wrap .other>li:nth-child(1) CSS */
#footer .footer_wrap .other>li:nth-child(1){
    width:150px;
    margin-right:50px;
}
#footer .footer_wrap .other>li .footerlogo{
    text-indent:-99999px;
    width:149px;
    height:55px;
    margin-top:-6px;
    background:url("../images/footer/logo_white.png") no-repeat center / 100%;
}

/* #footer .footer_wrap .other>li:nth-child(2) CSS */
#footer .footer_wrap .other>li:nth-child(2)>p>span:first-child{
    font-size:18px;
    font-weight:500;
}
/* #footer .footer_wrap .other>li:last-child CSS */
#footer .footer_wrap .other>li:last-child{
    margin-right:0px;
}
#footer .footer_wrap .other>li:last-child>p{
    left:150px;
}
#footer .footer_wrap .other>li:last-child>p>span{
    display:inline-block;
    text-indent:-99999px;
    width:30px;
    height:30px;
    cursor:pointer;
}
#footer .footer_wrap .other>li:last-child>p>span:first-child{
    background:url("../images/footer/icon_youtube.png") no-repeat center / 26px 18px;
}
#footer .footer_wrap .other>li:last-child>p>span:nth-child(2){
    background:url("../images/footer/icon_facebook.png") no-repeat center / 25px 25px;
}
#footer .footer_wrap .other>li:last-child>p>span:last-child{
    background:url("../images/footer/icon_twitter.png") no-repeat center / 22px 19px;
}
/* #footer .footer_wrap .company CSS */
#footer .footer_wrap .company{
    width:752px;
    margin:0px auto;
}
#footer .footer_wrap .company>li{
    float:left;
    color:#dfdfdf;
    font-weight:300;
    line-height:28px;
    letter-spacing:0px;
}
#footer .footer_wrap .company>li:before{
    content:"";
    display:inline-block;
    width:1px;
    height:13px;
    margin:0px 5px;
    background-color:#dfdfdf30;
}
#footer .footer_wrap .company>li:nth-child(-n+2):before,
#footer .footer_wrap .company>li:nth-child(5):before,
#footer .footer_wrap .company>li:nth-child(8):before{
    display:none;
}